/* ********* */
/* @VARIABLES */
/* ********* */

$Colores:(
    "Color1": #B6E4EB,
    "Color2": #D9F1F2,
    "Color3": #FBDEE2,
    "Color4": #FEAFAB,
    "Color5": #FBD5B0,
    "Color6": #FCF1D7
);

$colrTexto: gray;
$fondoPolaroid: #fff;

$Tamaño:(
    anchowidth: 200px,
    alto: 200px,
)

